//-THÀNH PHẦN SIDER
.sider
    .inner-menu
        ul
            li
                a(href=`${fixadmin}/dashboard`) Tổng Quan
            li
                a(href=`${fixadmin}/category-product`)  Danh Mục Sản Phẩm
            li
                a(href=`${fixadmin}/products`)   Danh Sách Sản Phẩm
            li
                a(href=`${fixadmin}/roles`) Nhóm Quyền
            li
                a(href=`${fixadmin}/roles/permission`) Phân Quyền
            li
                a(href=`${fixadmin}/account`)  Quản Lý Tài Khoản

    